*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    color: var(--font-color);
}

@font-face {
    font-family: 'Baloo2';
    src: url('./fonts/Baloo_2/static/Baloo2-Medium.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsItalic';
    src: url('./fonts/Poppins/Poppins-Italic.ttf');
}

:root {
    --font-color: #ffffff;
    --bg-color: #030208;
    --bg-color-light: #41229e;
    --bg-color2: #613ad6;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar {
    width: 300px;
    height: 100vh;
    border-right: 1px solid #505050;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: sticky;
    top: 0;
}

#sidebar > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    font-family: "Poppins";
    font-size: 16px;
    padding: 0;
}

.list-item > a,
.list-item > button  {
    width: 100%;
    padding: 0.5em 0 0.5em 3em;
}

.list-item > a:hover, 
.list-item > button:hover {
    background-color: var(--bg-color-light);
    border-radius: 10px;
}

.list-item > button:hover {
    > #add-project-icon {
        position: relative;
        left: 3em;
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
}

#sidebar a, 
#sidebar .dropdown-btn, 
#sidebar .icon {
    border-radius: 0.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn {
    background: none;
    border: none;
    padding: 0%;
    font-family: "Poppins";
    font-size: 16px;
}

#logo-div {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 40px;
    font-family: 'Baloo2';
    font-size: 16px;
    margin-top: 30px;
}

#logo-icon {
    width: 48px;
}

.icon {
    max-width: 20px;
}

.list-item {
    width: 100%;
}

.sub-list {
    margin-top: 10px;
    padding-left: 5.5em;
    list-style: none;
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div {
        overflow: hidden;
    }
}

.sub-list.show {
    grid-template-rows: 1fr;
}

#add-project-icon {
    opacity: 0;
}

